body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.radiant_pick {
  height: 72px;
  width: 128px;
}
.dire_pick {
  height: 72px;
  width: 128px;
}
.radiant_ban {
  padding: 3px;
  height: 36px;
  width: 64px;
  filter: grayscale(100%);
}
.dire_ban {
  padding: 3px;
  height: 36px;
  width: 64px;
  filter: grayscale(100%);
}
.selected {
  border: 3px solid gold;
}
.player_container {
  padding: 10px;
}
.badge_container {
  position: relative;
}
.star {
  width: 64px;
  position: absolute;
  left: 0px;
}
.badge {
  width: 64px;
  border-radius: 25%;
}
.player_avatar {
  width: 64px;
}
.player_name {
  font-weight: bold;
}
#main-container {
  display: grid;
  grid-template-columns: auto 200px auto;
  grid-template-rows: auto auto;
}
