:root {
  --radiant: rgb(1, 179, 85);
  --dire: rgb(217, 32, 50);
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 1080px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  position: fixed;
  bottom: 0px;
  width: 1920px;
  background-color: rgb(20, 20, 17);
}

.main-container {
  display: flex;
}

.bans-camera-view {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ban-container {
  width: 180px;
  display: flex;
  flex-direction: column;
}

.reserve-time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95px;
}

.reserve-time-text {
  font-size: 24px;
  font-weight: bold;
}

.bonus-time {
  font-size: 50px;
  font-style: bold;
}

.top-container {
  height: 95px;
  width: 100%;
  border-bottom: black 5px solid;
  display: flex;
}

.team-score {
  flex-grow: .075;
}

.team-name {
  flex-grow: .4;
  border-left: black 5px solid;
  border-right: black 5px solid;

}

.game-description {
  flex-grow: .5;
}

.overview-camera {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.picks-container {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.picks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#radiant_picks {
  border-top: var(--radiant) 5px solid;
}

#radiant_bans {
  border-right: var(--radiant) 5px solid;
}

.radiant-time {
  border: var(--radiant) 5px solid;
}

.radiant-color {
  color: var(--radiant);
}

#dire_picks {
  border-top: var(--dire) 5px solid;
}

#dire_bans {
  border-left: var(--dire) 5px solid;
}

.dire-time {
  border: var(--dire) 5px solid;
}

.dire-color {
  color: var(--dire);
}

.current-clock {
  display: flex;
  flex-direction: column;
  width: 190px;
  align-items: center;
  border-left: var(--radiant) 5px solid;
  border-right: var(--dire) 5px solid;
}

.gradiant {
  height: 5px;
  width: 100%;
  background: linear-gradient(to right, var(--radiant) 0%, var(--radiant) 50%, var(--dire) 50%, var(--dire) 100%);
}

.test-vid {
  height: 200px;
  width: 200px;
}

.pick {
  display: flex;
  width: 169px;
  overflow: hidden;
  border-left: black 2px solid;
  border-right: black 2px solid;
  background-size: cover;
  background-position: center;
}

video {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.ban {
  padding: 5px;
  height: 100px;
  width: 170px;
  filter: grayscale(100%);
}